.sch *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.sch.content_menu{
	width: 180px;
	height: 150px;
	padding: 4px;
	border-radius: 4px;
	border: solid 2px #DDD;
	background: #FAFAFA;
	overflow-y: auto; 
	display: none;
	position: fixed;
}
.sch.content_menu>ul{
	list-style: none;
}
.sch.content_menu>ul>li{
	line-height: 22px;
	height: 32px;
	width: 100%;
	padding: 3px;
	margin: 2px;
	border-radius: 3px;
	border:solid 1px transparent;
	cursor: pointer;
}
.sch.content_menu>ul>li:hover{
	border:solid 1px #87CEEB;
	background: #ADD8E6;
}
.sch.content_menu>ul>li>*{
	vertical-align: middle;
}
.sch.content_menu>ul>li>img{
	width: 20px;
	height: 20px;
	border-radius: 3px;
	margin-right: 3px;
}
.sch.content_menu>ul>li>span{
	text-align: center;
	font-size: 14px;
}